<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web-101 C1</title>
    <style>
      /* Write all necessery css here only  */
      h1{
        color: white;
      }
      h3{
        color: white;
      }

    </style>
  </head>
  <body>
    <!-- This is the Navbar  -->
    <div class="nav">
      <img
        class="logo"
        src="https://cdn.indiawealth.in/cdn/images/fe/INDlogo_black_tm.png"
        alt="bottom.png"
      />
      <div class="options">
        <!-- Different Options Should Go Here  -->
      </div>
    </div>
    <div class="container">
      <div class="top">
        <!-- Create the Top Part Using This  -->
      </div>
      <div class="mid">
        <h2>Invest in top tech stocks</h2>
        <div class="mid-elements">
          <!-- Create 8 Cards here  -->
        </div>
      </div>

      <div class="bottom">
        <h1>Charges outside of INDmoney</h1>
        <!-- Create the Bottom Part Here  -->
      </div>
    </div>
  </body>
</html>
